html,
body {
    margin: 0;
    min-height: 100%;
}

* {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

a {
    /* text-decoration: none; */
    transition: font-size 0.2s ease;
    /* background-color: rgb(12, 133, 185); */
    /* padding: 2%; */
}

a:hover {
    color: #00ff48;
    font-size: larger;
}

body {
    /* background-image: url("pictures/bg.jpg"); */
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: #1f1f1f;
    color: white;
    border: none;
    /* cursor: pointer; */
}

.header {
    padding: 0.5em;
}

.logo {
    margin-right: auto;
    font: bold;
    font-size: 1.5em;
}

.lk {
    margin-left: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em;
}

.download {
    background-color: rgb(14, 129, 152);
    padding: 0.2em 0.5em;
    border-radius: 1em;
    text-decoration: none;
}

#login {
    margin: 2em;
    padding: 0.9em;
}

input {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#text-pressbut {
    color: black;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 2em; */
}

.main-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 2em; */
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 2em; */
}

.news-content {
    margin: 2em;
    padding: 0.6em;
    border-radius: 0.9em;
    background-color: #606060;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 2em; */
}

.news-1 {
    float: left;
}

.news-2 {
    float: left;
}

.news-3 {
    float: left;
}

.download-list {
    margin: 2em;
    padding: 0.6em;
    width: 100%;
    background-color: #606060;
    border-radius: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.4em 1.5em;
}

.service-content {
    margin: 2em;
    padding: 0.6em;
    width: 100%;
    background-color: #606060;
    border-radius: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.4em 1.5em;
}

.btn {
    color: white;
    background-color: rgb(14, 129, 152);
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;
}

button:hover {
    border: 1px solid;
    border-color: aliceblue;

}

button:active {
    background-color: rgb(10, 83, 96);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
}