html,
body {
    margin: 0;
    min-height: 100%;
}

* {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

a {
    /* text-decoration: none; */
    transition: font-size 0.2s ease;
    /* background-color: rgb(12, 133, 185); */
    /* padding: 2%; */
}

a:hover {
    color: #00ff48;
    font-size: larger;
}

body {
    /* background-image: url("pictures/bg.jpg"); */
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: #1f1f1f;
    color: white;
    border: none;
    /* cursor: pointer; */
}

.header {
    padding: 0.5em;
}

.logo {
    margin-right: auto;
    font: bold;
    font-size: 1.5em;
}

.lk {
    margin-left: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

#login {
    margin: 2em;
    padding: 0.9em;
}

input {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#text-pressbut {
    color: black;
}

.main-title {
    text-align: center;
}

.main-descr {
    text-align: center;
}


.btn {
    color: white;
    background: black;
}