html,
body {
    margin: 0;
    min-height: 100%;
}

* {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body {
    /* background-image: url("pictures/bg.jpg"); */
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

header {
    /* padding-top: .8em; */
    text-align: center;
}

.lk {
    text-align: right;
    /* padding: 0.1em 1em; */
    margin: 1em 2em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    margin: 2em;
    padding: 0.9em;
}

input {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#text-pressbut {
    color: black;
}

.main-title {
    text-align: center;
}

.main-descr {
    text-align: center;
}


.btn {
    color: white;
    background: black;
}

.content {
    margin: 0 auto;
    width: 80%;
    margin-top: 200px;
    font-size: 1.2em;
    text-align: center;
}

.content-title {
    text-align: center;
    border: 0.05em solid azure;
    /* border-radius: 100%; */
    font-size: 2em;
    width: fit-content;
    margin: 0 auto;
    padding: 0.2em 0.2em;
}

.content-text {
    margin: 1em;
    padding: 0 0.5em;
    border: 0.05em solid azure;
}

@media screen and (min-width: 768px) {
    .content {
        width: 50%;
        max-width: 800px;
    }
}